<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html> <head>
<title>{% block title %}FruitySearch{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/search.css">
</head>
<body>
<div id="body">
<div id="hd">
  <h1><a href="/">FruitySearch</a>: Do You Love Apple?</h1>
</div>
{% block body %}{% endblock %}

<div id="ft">
  <p>A <a href="">Will Larson</a> production, 2009.</p>
</div>
</div>
</body> </html>
